body {
  margin: 40px auto;
  width: 40vw;
  max-width: 470px;
  font-family: "Ubuntu", sans-serif;
}
@media screen and (max-width: 700px) {
  body {
    width: 75vw;
  }
}
@media screen and (max-width: 480px) {
  body {
    width: 80vw;
  }
}

p {
  line-height: 1.5em;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
}

a.button {
  display: inline-block;
  margin: 12px 0 0 0;
  color: white;
  background: #222;
  padding: 10px 15px;
}
a.button:hover {
  opacity: 0.9;
}

img {
  height: 10vw;
  border-radius: 25px;
  margin-bottom: 1em;
}

div.container {
  margin-bottom: 1.5em;
}

h1 {
  margin-bottom: 0.75em;
}

.emoji {
  font-size: xx-large;
}

.maya {
  text-align: right; 
}

.long_date {
  color: grey;
  opacity: 0.75;
}

.long_date:hover {
  color: lightgrey;  /* outer right cyan */
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

span:hover {
  animation: neon 3s infinite;
  --shadow-color: #FF9E9E;
  --shadow-color-light: white; 
}

@media all and (max-width: 480px) {
  .desktop {display:none;}
  .mobile {display:block;}
  .fa-2x {font-size: 1.5em !important;}
  .link_container {
    font-size: large;
    padding-top: 0.5em;
    min-width: 100%;}
}

@media all and (min-width: 720px) {
  .desktop {display:block;}
  .mobile {display:none;}
}